<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="menu" type="com.et.edusoho.admin.menu.bean.Menu"/>
		<typeAlias alias="user" type="com.et.edusoho.login.bean.User"/>
		<typeAlias alias="category" type="com.et.edusoho.admin.course.bean.Category"/>
		<typeAlias alias="loginLog" type="com.et.edusoho.admin.user.bean.LoginLog"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="context.xml"/>
		<mapper resource="login.xml"/>
		<mapper resource="category.xml"/>
		<mapper resource="user.xml"/>
		<mapper resource="login_log.xml"/>
	</mappers>
</configuration>