<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<typeAliases>
		<typeAlias alias="menu" type="com.et.edusoho.admin.menu.bean.Menu"/>
		<typeAlias alias="user" type="com.et.edusoho.login.bean.User"/>
		<typeAlias alias="category" type="com.et.edusoho.admin.course.bean.Category"/>
		<typeAlias alias="loginLog" type="com.et.edusoho.admin.user.bean.LoginLog"/>
		<typeAlias alias="site" type="com.et.edusoho.admin.system.bean.Site"/>
		<typeAlias alias="course" type="com.et.edusoho.admin.course.bean.Course"/>
		<typeAlias alias="lesson" type="com.et.edusoho.admin.course.bean.Lesson"/>
	</typeAliases>
	
	<mappers>
		<mapper resource="context.xml"/>
		<mapper resource="login.xml"/>
		<mapper resource="category.xml"/>
		<mapper resource="user.xml"/>
		<mapper resource="login_log.xml"/>
		<mapper resource="site.xml"/>
		<mapper resource="course.xml"/>
		<mapper resource="lesson.xml"/>
		<mapper resource="chapter.xml"/>
	</mappers>
</configuration>